flask
flask-cors
boto3
google-genai
python-dotenv
yt-dlp
youtube-transcript-api
requests
uvicorn
google-api-python-client
mcp-kipris @ git+https://github.com/nuri428/mcp_kipris.git@e404958f1b9e16778675f0f98fb49609d96abc71
